 body{
    background-color: gray;
 }
 h3{
    text-align: center;
    text-decoration: underline;
    font-style: italic;

}
div{
    color: gold;
    background-color: black;
    border: 10px solid gold;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    margin: 10px;
    box-shadow: 10px 10px 10px black;
}
li{
 color: black;
background-color: white;
border: 10px solid gold;
padding: 10px;
border-radius: 10px 10px 10px;
text-align: justify;




}